body{
	background-color: grey;
	margin: 0;
}

.header{
	background-color: white;
	text-align: center;
	height: 80px;
}

.first-title{
    width: 600px;
    margin-left: 260px;
	overflow: hidden;
}

h1{
	margin: 0;
	padding-top: 15px;
	font-size: 50px;
	font-family: 'Tangerine', cursive;
}

.instagram{
	background-color: white;
}

.main-container{
	width: 600px;
	margin: auto;
	overflow: hidden;
	padding-top: 20px;
}

img{
	width: 100%;
}


.title{
	float: left;
	padding-left: 10px;	
}

.like{
	float: right;
	padding-top: 6px;
	padding-right: 10px;
	color: grey;	
}
.last-parag{
	padding-bottom: 20px;
	padding-left: 10px;
	font-style: italic;
}




